ui-page {
    background: url("http://img.hb.aicdn.com/022c0ee0b745ff232088a0fcc9705c50720371be4928b-hFAxCj_fw658") no-repeat top center;
}

ui-header {
    color: #fff;
    background: none;
    border-bottom-color: transparent;
}
.list-main {
    height: 160px;
}

.list {
    background-color: #fff;
}