<ui-page>
  <ui-header>
    <div class="search-text">
      <input type="text" placeholder="周杰伦">
    </div>
    <div class="header-btn">
      <button>
        <span class="icon icon-coin-euro"></span>
      </button>
    </div>
  </ui-header>
  <ui-content>
    <ui-scroll>
      <ui-slide>
        <ui-slide-item>
          <img src="http://img.hb.aicdn.com/97a82e56728e8873d34ca1e50b849e6aced15a0c1ffc2-roWkRm_fw658">
        </ui-slide-item>
        <ui-slide-item>
          <img src="http://img.hb.aicdn.com/bc8c5738f09383cd0237452af1149f64e22546461ff82-ufHssm_fw658">
        </ui-slide-item>
      </ui-slide>
      <ui-row class="nav-bar">
        <ui-col>
          <div>
            <div><a href="javascript:;"><span class="icon icon-heart"></span></a></div>
            <div>猜你喜欢</div>
          </div>
        </ui-col>
        <ui-col>
          <div>
            <div><a href="javascript:;"><span class="icon icon-list"></span></a></div>
            <div>歌单</div>
          </div>
        </ui-col>
        <ui-col>
          <div>
            <div><a href="javascript:;"><span class="icon icon-flag"></span></a></div>
            <div>排行榜</div>
          </div>
        </ui-col>
        <ui-col>
          <div>
            <div><a href="javascript:;"><span class="icon icon-headphones"></span></a></div>
            <div>电台</div>
          </div>
        </ui-col>
        <ui-col>
          <div>
            <div><a href="javascript:;"><span class="icon icon-film"></span></a></div>
            <div>MV</div>
          </div>
        </ui-col>
      </ui-row>
      <div class="clearfix title">
        <h4 class="pull-left">必听歌单</h4>
        <div class="pull-right">
          <a href="javascript:;" class="primary">更多 <span class="icon icon-circle-right"></span></a>
        </div>
      </div>
      <ui-row class="cd-list">
        <ui-col (click)="toMusicList()">
          <div>
            <div>
              <img src="http://img.hb.aicdn.com/ba6c786462a4305086bb4ed320e417d348e6e7d71c7e0-Z1UYW6_fw658">
            </div>
            <p><span class="color-muted">#影视原声</span> 95版神雕侠侣原声配乐</p>
          </div>
        </ui-col>
        <ui-col (click)="toMusicList()">
          <div>
            <div>
              <img src="http://img.hb.aicdn.com/6e33ba1c6cefcd8325d63b59c3ba4d136f23f6636df9-UDVSfl_fw658">
            </div>
            <p><span class="color-muted">#影视原声</span> 95版神雕侠侣原声配乐</p>
          </div>
        </ui-col>
        <ui-col (click)="toMusicList()">
          <div>
            <div>
              <img src="http://img.hb.aicdn.com/23fec8839f1374be1ad9550b3cf720c845c7887fc5969-yk1g8H_fw658">
            </div>
            <p><span class="color-muted">#影视原声</span> 95版神雕侠侣原声配乐</p>
          </div>
        </ui-col>
      </ui-row>
      <ui-row class="cd-list">
        <ui-col (click)="toMusicList()">
          <div>
            <div>
              <img src="http://img.hb.aicdn.com/53995eecefffd112a7a6f40a03dd56e36828cb7d15a48-5gX0BS_fw658">
            </div>
            <p><span class="color-muted">#影视原声</span> 95版神雕侠侣原声配乐</p>
          </div>
        </ui-col>
        <ui-col (click)="toMusicList()">
          <div>
            <div>
              <img src="http://img.hb.aicdn.com/2671db2653b7fb9d07ab1e766916317af14cc97d1270d-jfyoo0_fw658">
            </div>
            <p><span class="color-muted">#影视原声</span> 95版神雕侠侣原声配乐</p>
          </div>
        </ui-col>
        <ui-col (click)="toMusicList()">
          <div>
            <div>
              <img src="http://img.hb.aicdn.com/e7860f9cb55047a046665f7f6b642bfadd09cf911a0af-oroHI4_fw658">
            </div>
            <p><span class="color-muted">#影视原声</span> 95版神雕侠侣原声配乐</p>
          </div>
        </ui-col>
      </ui-row>
    </ui-scroll>
  </ui-content>
</ui-page>